html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --success-hover: #31b14f;
  --info-hover: #2ca8bb;
  --warning-hover: #ffc929;
  --danger-hover: #fd3e51;

  --tile-size: 32px;
}

body {
  background-color: var(--dark);
  background-image: url('./img/background.jpg');
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.overlay {
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.status {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.axis-button {
  margin-bottom: 15px;
  background-color: var(--info);
  color: white;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.gameboards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.gameboard {
  display: grid;
}

.tile {
  height: var(--tile-size);
  width: var(--tile-size);
  position: relative;
}

.gameboard-player .tile {
  box-shadow: 2px 0 0 0 var(--success), 0 2px 0 0 var(--success),
    2px 2px 0 0 var(--success), 2px 0 0 0 var(--success) inset,
    0 2px 0 0 var(--success) inset;
}

.gameboard-player .tile:hover {
  z-index: 1;
  box-shadow: 2px 0 0 0 greenyellow, 0 2px 0 0 greenyellow,
    2px 2px 0 0 greenyellow, 2px 0 0 0 greenyellow inset,
    0 2px 0 0 greenyellow inset;
}

.gameboard-computer .tile {
  cursor: pointer;
  box-shadow: 2px 0 0 0 var(--danger), 0 2px 0 0 var(--danger),
    2px 2px 0 0 var(--danger), 2px 0 0 0 var(--danger) inset,
    0 2px 0 0 var(--danger) inset;
}

.gameboard-computer .tile:hover {
  z-index: 1;
  box-shadow: 2px 0 0 0 orange, 0 2px 0 0 orange, 2px 2px 0 0 orange,
    2px 0 0 0 orange inset, 0 2px 0 0 orange inset;
}

.tile[ship='alive'] {
  background-color: rgba(153, 255, 0, 0.65);
}
.tile[ship='attacked'] {
  background-color: rgba(255, 0, 0, 0.65);
}
.tile[ship='destroyed'] {
  background-image: linear-gradient(
    45deg,
    #000000 25%,
    #ff0000 25%,
    #ff0000 50%,
    #000000 50%,
    #000000 75%,
    #ff0000 75%,
    #ff0000 100%
  );
  background-size: 11.31px 11.31px;
}

.tile[attacked] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tile[attacked]::before {
  content: '';
  height: var(--tile-size);
  border-left: 2px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: calc(var(--tile-size) / 2);
}
.tile[attacked]::after {
  content: '';
  height: var(--tile-size);
  border-left: 2px solid #fff;
  position: absolute;
  transform: rotate(-45deg);
  left: calc(var(--tile-size) / 2);
}

.tile[placing] > .highlight {
  position: absolute;
  top: 1px;
  left: 1px;
  font-weight: bold;
  color: white;
  height: var(--tile-size);
  width: var(--tile-size);
  background-color: cyan;
  pointer-events: none;
  z-index: 1;
}
