html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --success-hover: #31b14f;
  --info-hover: #2ca8bb;
  --warning-hover: #ffc929;
  --danger-hover: #fd3e51;

  --tile-size: 32px;
}

body {
  background-color: var(--dark);
  background-image: url('./img/background.jpg');
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.overlay {
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.title {
  font-size: 3rem;
}

.gameboards {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.gameboard {
  display: grid;
}

.tile {
  height: var(--tile-size);
  width: var(--tile-size);
  border: 1px white solid;
  position: relative;
}

.gameboard-player .tile {
  border-color: var(--success);
}

.gameboard-player .tile:hover {
  border-color: greenyellow;
}

.gameboard-computer .tile {
  border-color: var(--danger);
}

.gameboard-computer .tile:hover {
  border-color: orange;
}

.tile[ship='alive'] {
  background-color: rgba(153, 255, 0, 0.65);
}
.tile[ship='attacked'] {
  background-color: rgba(255, 0, 0, 0.65);
}
.tile[ship='destroyed'] {
  background-image: linear-gradient(
    45deg,
    #000000 25%,
    #ff0000 25%,
    #ff0000 50%,
    #000000 50%,
    #000000 75%,
    #ff0000 75%,
    #ff0000 100%
  );
  background-size: 11.31px 11.31px;
}

.tile[attacked]::after {
  content: 'X';
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}

.tile[placing] > .highlight {
  position: absolute;
  top: -1px;
  left: -1px;
  font-weight: bold;
  color: white;
  height: var(--tile-size);
  width: var(--tile-size);
  background-color: cyan;
  pointer-events: none;
}
